.banner
	.container
		.banner__wrapper
			.banner__title
				| Lipsum Media Presentation
			.banner__content
				.banner__column
					.banner__video
						img(src="images/video.jpg" alt="")
						button.banner__video__play
						.banner__video__title
							| Featuard projects
					.banner__description
						.banner__description__item
							| Client
						.banner__description__text
							| Jommy
						.banner__description__item
							| Project description
						.banner__description__text
							| olor massa hac auctor! Ac, mauris massa. Sit pellentesque ridiculus pid,
							| scelerisque augue amet parturient?
						.banner__description__item
							| Software
						.banner__description__text
							| Photoshop
						.banner__description__item
							| Level of srevice
						.banner__description__text
							| Photoshop
				.banner__article
					.banner__article__title
						| Project description
					.banner__article__image
						img(src="images/banner-article.jpg" alt="")
					.banner__article__text
						| Ac aliquam pid amet, lorem eu, etiam ultrices, egestas. Et porttitor a, lacus
						| egestas est rhoncus, egestas amet facilisis augue pellentesque. Nec? Velit
						| tristique. Proin facilisis porta porttitor in tortor vel
					a.banner__article__button(href="#")
						| Read more
						span.banner__article__button__arrow
