.clients
	.container
		.clients__title
			| #[span Our]  Clients
		.clients__logos-clients
			.clients__logo
				img(src="images/clients/1.jpg")
			.clients__logo
				img(src="images/clients/2.jpg")
			.clients__logo
				img(src="images/clients/3.jpg")
			.clients__logo
				img(src="images/clients/4.jpg")
			.clients__logo
				img(src="images/clients/5.jpg")
			.clients__logo
				img(src="images/clients/6.jpg")
