.content
	.container
		.content__column.content__column--1
			.content__column__title
				| #[span Our] services
			ul.content__column__list
				li.content__column__list__item
					a(href="#" target="_blank") Ac tristique sagittis turpis
				li.content__column__list__item
					a(href="#" target="_blank") Duis mus nec porttitor
				li.content__column__list__item
					a(href="#" target="_blank") Phasellus lectus cras
				li.content__column__list__item
					a(href="#" target="_blank") Ac tristique sagittis turpis
				li.content__column__list__item
					a(href="#" target="_blank") Ac tristique sagittis turpis
				li.content__column__list__item
					a(href="#" target="_blank") Ac tristique sagittis turpis
		.content__column.content__column--2
			.content__column__title
				| #[span Did you] know ?
			.content__column__text
				| Ac tristique sagittis turpis dis purus egestas! Duis mus
				| nec porttitor hac ac dictumst, porttitor eros adipiscing
				| elementum tincidunt urna mus porttitor odio, non tristique
				| adipiscing lorem, sed nec vel adipiscing sit, quis platea
				| parturient sit adipiscing et massa . Risus, placerat.
				| Augue etiam et dis velit ut, auctor et, duis dolor nunc nunc,
				| augue nisi nascetur, porta
			a.content__column__button(href="#")
				| Read more
				span.banner__article__button__arrow
		.content__column.content__column--3
			.content__column__title
				| Contact
			.content__column__contacts
				.content__column__contact.content__column__contact--phone
					span 203 - 810-4300
				.content__column__contact.content__column__contact--fax
					span 203 - 810-4333
				.content__column__contact.content__column__contact--email
					span Contact@lipsum.com
				.content__column__contact.content__column__contact--home
					span
						| 50 Washington street<br>
					span
						| Sute 1048<br>
					span
						| lipsume  0644<br>
