footer.footer
	.container
		a.footer__logo(href="/")
			img(src="images/footer-logo.png" alt="")
		.footer__content
			.footer__menu
				a.footer__menu__item(href="#")
					| Home
				a.footer__menu__item(href="#")
					| About
				a.footer__menu__item(href="#")
					| Work
				a.footer__menu__item(href="#")
					| Services
				a.footer__menu__item(href="#")
					| Resources
				a.footer__menu__item(href="#")
					| Articles
				a.footer__menu__item(href="#")
					| Contacts
			.footer__copyright
				| © 2009 lipsum media, LLC
				a(href="https://cssauthor.com/" target="_blank") www.cssauthor.com
