header.header
	.container
		.header__subscribe
			input.header__subscribe__input(type="text")
			.header__subscribe__text
				| Subscribe
			.header__subscribe__links
				a.header__subscribe__link.header__subscribe__link--twitter(href="#")
				a.header__subscribe__link.header__subscribe__link--facebook(href="#")
	.container
		.header__navigation
			a.header__logo(href="/")
				img(src="images/logo.png" alt="Lispum Media")
			.header__menu
				a.header__menu__item(href="#") Home
				a.header__menu__item(href="#") About
				a.header__menu__item(href="#") Work
				a.header__menu__item(href="#") Services
				a.header__menu__item(href="#") Resources
				a.header__menu__item(href="#") Articles
				a.header__menu__item(href="#") Contact
