*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-family-ciclefina;
	background: url("../images/bg-page.jpg") no-repeat;
	background-size: cover;
}
