.content {
	padding: 35px 0;

	.container {
		display: flex;

		@media (max-width: 1000px) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__column {
		border-top: solid 1px $color-silver;
		border-bottom: solid 1px $color-silver;
		padding-bottom: 40px;

		&__title {
			padding: 24px 0;
			font-family: $font-family-bebas;
			font-size: 20px;
			line-height: 20px;
			color: $color-sun;

			span {
				color: $color-black;
			}
		}

		&--1 {
			position: relative;
			border-right: solid 1px $color-silver;
			padding-left: 38px;
			width: 287px;

			&::before {
				@include sprite("splice");

				content: "";
				position: absolute;
				right: -9px;
				top: -12px;
			}

			&::after {
				@include sprite("splice-bottom");

				content: "";
				position: absolute;
				right: -9px;
				bottom: -10px;
			}

			.content__column__list {
				list-style: none;
				margin: 0;
				padding: 0 10px 0 0;

				&__item {
					position: relative;
					margin-bottom: 16px;
					padding-left: 38px;
					font-size: 20px;
					line-height: 20px;

					&::before {
						@include sprite("list-type");

						content: "";
						position: absolute;
						left: 5px;
						top: 0;
					}

					a {
						text-decoration: none;
						color: $color-black;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			@media (max-width: 1000px) {
				flex-grow: 1;
			}

			@media (max-width: 748px) {
				border-right: none;

				&::before {
					display: none;
				}

				&::after {
					display: none;
				}
			}
		}

		&--2 {
			position: relative;
			border-right: solid 1px $color-silver;
			padding-right: 30px;
			padding-left: 40px;
			width: 422px;

			&::before {
				@include sprite("splice");

				content: "";
				position: absolute;
				right: -9px;
				top: -12px;
			}

			&::after {
				@include sprite("splice-bottom");

				content: "";
				position: absolute;
				right: -9px;
				bottom: -10px;
			}

			.content__column__text {
				font-size: 16px;
				line-height: 24px;
			}

			.content__column__button {
				position: relative;
				float: right;
				margin-top: 25px;
				margin-right: 13px;
				padding: 4px 32px 5px 5px;
				font-family: $font-family-colaborate;
				font-size: 14px;
				line-height: 14px;
				text-decoration: none;
				color: $color-white;
				background: $color-black;

				&__arrow {
					position: absolute;
					right: 0;
					top: 0;
					width: 28px;
					height: 100%;
					background: $color-sun;

					&::after {
						@include sprite("arrow-banner");

						content: "";
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
				}

				&:hover {
					text-decoration: underline;
				}
			}

			@media (max-width: 1000px) {
				flex-grow: 1;
				border-right: none;

				&::before {
					display: none;
				}

				&::after {
					display: none;
				}
			}
		}

		&--3 {
			padding: 0 49px;
			width: 335px;

			.content__column__contacts {
				padding-left: 43px;
			}

			.content__column__contact {
				position: relative;
				margin-bottom: 14px;

				&::before {
					content: "";
					position: absolute;
					left: -30px;
					top: 0;
					transform: translate(-50%);
				}

				span {
					display: inline-block;
					padding: 5px 9px;
					font-family: $font-family-bebas;
					font-size: 16px;
					line-height: 16px;
					color: $color-white;
					background: $color-black;
				}

				&--phone {
					&::before {
						@include sprite("phone");
					}
				}

				&--fax {
					&::before {
						@include sprite("fax");
					}
				}

				&--email {
					&::before {
						@include sprite("email");
					}
				}

				&--home {
					&::before {
						@include sprite("home");
					}

					span {
						margin-bottom: 3px;
					}
				}
			}

			@media (max-width: 1000px) {
				flex-basis: 100%;
				padding: 18px 30px;
			}
		}
	}
}
