@font-face {
	src: url("../fonts/CicleFina.woff") format("woff");
	font-family: "CicleFina";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/CicleFinaItalic.woff") format("woff");
	font-family: "CicleFina";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/Bebas.woff") format("woff");
	font-family: "Bebas";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/CenturyGothic.woff") format("woff");
	font-family: "CenturyGothic";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaLTStd-UltraComp.woff") format("woff");
	font-family: "HelveticaLT";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Colaborate-Thin.woff") format("woff");
	font-family: "Colaborate";
	font-weight: 100;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Colaborate-Light.woff") format("woff");
	font-family: "Colaborate";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Colaborate-Regular.woff") format("woff");
	font-family: "Colaborate";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Colaborate-Medium.woff") format("woff");
	font-family: "Colaborate";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Colaborate-Bold.woff") format("woff");
	font-family: "Colaborate";
	font-weight: 700;
	font-style: normal;
}
