.header {
	.container {
		&:first-child {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
		}
	}

	&__logo {
		img {
			@media (max-width: 450px) {
				width: 280px;
			}
		}

		@media (max-width: 450px) {
			text-align: center;
		}
	}

	&__subscribe {
		margin-top: 1px;
		width: 409px;
		height: 28px;
		background: $color-sun;

		&__input {
			display: inline-block;
			vertical-align: middle;
			margin-left: 20px;
			outline: none;
			border: none;
			padding: 3px 8px;
			width: 224px;
			height: 18px;

			@media (max-width: 450px) {
				width: 164px;
			}

			@media (max-width: 390px) {
				width: 95px;
			}
		}

		&__text {
			display: inline-block;
			vertical-align: middle;
			padding-left: 6px;
			width: 85px;
			font-family: $font-family-century-gothic;
			font-size: 14px;
			text-transform: uppercase;
			color: $color-black;
		}

		&__links {
			display: inline-block;
			vertical-align: middle;
			margin-left: 9px;
		}

		&__link {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			border-left: solid 1px $color-white;
			width: 31px;
			height: 28px;

			&::before {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&--facebook {
				&::before {
					@include sprite("facebook");
				}
			}

			&--twitter {
				&::before {
					@include sprite("twitter");
				}
			}
		}

		@media (max-width: 450px) {
			width: 349px;
		}

		@media (max-width: 390px) {
			width: 100%;
			text-align: center;
		}
	}

	&__navigation {
		display: flex;
		margin-top: 12px;

		@media (max-width: 940px) {
			flex-direction: column;
		}
	}

	&__menu {
		margin-left: 155px;
		padding-top: 32px;

		&__item {
			position: relative;
			padding: 10px 16px;
			font-size: 14px;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-black;

			&::before {
				@include sprite("arrow-menu");

				content: "";
				position: absolute;
				left: 0;
				top: 14px;
			}

			&:hover {
				text-decoration: underline;
			}

			@media (max-width: 940px) {
				display: inline-block;
			}
		}

		@media (max-width: 1060px) {
			margin-left: 78px;
		}

		@media (max-width: 980px) {
			margin-left: 40px;
		}

		@media (max-width: 940px) {
			margin: 0 auto;
		}
	}
}
