// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-sun: #faa61a;
$color-silver: #ccc;

// FONTS
$font-family-ciclefina: "CicleFina", sans-serif;
$font-family-bebas: "Bebas", sans-serif;
$font-family-century-gothic: "CenturyGothic", sans-serif;
$font-family-helveticaLT: "HelveticaLT", sans-serif;
$font-family-colaborate: "Colaborate", sans-serif;
